@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 10px;
  font-family: "Playfair Display", serif;
}
a {
  text-decoration: none;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* header section */
#header {
  /* border: 2px solid red; */
  width: 100%;
  position: fixed;
  height: fit-content;
  z-index: 10;
}
#header .header {
  min-height: 8vh;
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.315);
  transition: 0.3s background-color ease;
}
#header .header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 10px;
  /* border: 4px SOLID RED; */
}
#header .header .nav-bar .brand {
  width: 330px;
}
#header .header .nav-bar .brand h1 {
  color: white;
  font-size: 45px;
  display: block;
  margin-left: 5%;
}
#header .header .nav-bar .brand h1 span {
  color: red;
}

#header .header .nav-list ul {
  list-style: none;
  position: absolute;
  top: 0;
  left: 1000%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: rgb(31, 30, 31);
  overflow-x: hidden;
  transition: 0.5s ease-in left;
}
#header .header .nav-list ul li {
  /* margin: 20px; */
  /* padding: 20px; */
  display: block;
  width: fit-content;
}
#header .header .nav-list ul a {
  color: white;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  /* padding: 20px; */
}
#header .header .nav-list ul li a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: 1000;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease letter-spacing;
}
#header .header .nav-list ul li:hover a {
  color: crimson;
}
#header .header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  color: rgba(240, 248, 255, 0.021);
  letter-spacing: initial;
}
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(0.8);
  /* right: -60px; */
  z-index: 1000;
}
#header .hamburger .bar {
  width: 30px;
  height: 2px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
  transition: 0.3s ease;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar::before {
  bottom: 0px;
}
#header .hamburger.active .bar::after {
  top: 0px;
}
#header .nav-list ul.active {
  left: 0;
}
#header .hamburger::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 3px solid white;
  border-radius: 50%;
  animation: hamburger-pumping 1s ease infinite;
}
/* End of header section */
/* Main section */
#main {
  background-image: url(images\\hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#main::before {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  content: " ";
  z-index: -1;
}
.common {
  width: 100%;
  height: 100vh;
  /* border: 2px solid rgb(76, 0, 255); */
  display: flex;
  align-items: center;
  margin: 0 auto;
}
#main .main {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0 60px 20px;
}
.main div {
  /* border: 2px solid rgb(17, 15, 15); */
  width: 80%;
}
#main h1 {
  display: block;
  color: transparent;
  position: relative;
  text-transform: uppercase;
  font-size: 7vw;
  text-align: left;
  width: fit-content;
  animation: text-revealing-words 0.5s ease forwards;
}
#main h1:nth-child(1) {
  animation-delay: 1.5s;
}
#main h1:nth-child(2) {
  animation-delay: 2.5s;
}

.main h1 span {
  background-color: transparent;
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  animation: text-reveal 1s ease;
  animation-delay: 1s;
}
#main h1:nth-child(1) span {
  animation-delay: 1s;
}
#main h1:nth-child(2) span {
  animation-delay: 2s;
}

#main .cta {
  display: inline-block;
  font-size: 4vw;
  color: white;
  margin-top: 30px;
  padding: 10px 30px;
  border: 2px solid crimson;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  z-index: 10000;
}
#main .cta:hover {
  color: white;
  border: 2px solid white;
  background-color: crimson;
  transition: 0.5s ease;
}
/* keyframes section */
@keyframes text-reveal {
  50% {
    width: 100%;
    left: 0%;
    background-color: crimson;
  }
  100% {
    width: 0%;
    left: 100%;
    background-color: crimson;
  }
}
@keyframes text-revealing-words {
  100% {
    color: white;
  }
}
@keyframes hamburger-pumping {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
/* End of keyframes section */
/* Service section */

#services .services {
  flex-direction: column;
  text-align: center;
  padding: 100px 0px;
  margin: 0 auto;
  max-width: 1500px;
  height: fit-content;
}
#services .services .upperpart {
  max-width: 800px;
  /* border: 2px solid green; */
  margin-bottom: 20px;
}
#services .services .upperpart p {
  text-align: center;
}
.title {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  margin-bottom: 15px;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
  width: fit-content;
  margin: 0 auto 15px;
  color: black;
}
#services .services .description {
  font-size: 1.7rem;
  letter-spacing: 0.05rem;
  line-height: 2.5rem;
}

#services .bottompart {
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#services .bottompart .cards {
  border: 2px solid pink;
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  background-image: url(images\\cards.png);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  color: white;
  z-index: 1;
  overflow: hidden;
}
#services .cards p {
  margin-top: 5px;
  letter-spacing: 0.04rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
#services .cards::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: -1;
}
#services .bottompart .icon {
  /* border: 2px solid yellowgreen; */
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}
/* projects section */

#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  padding: 100px 0px;
  text-align: center;
  justify-content: center;
  height: fit-content;
}
#projects .projects .projects-title .title {
  margin: 0px 0px 70px;
}

#projects .cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#projects .projects .card {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 820px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
}
#projects .uppercard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  height: 100%;
  justify-content: center;
  flex-basis: 50%;
  background-image: linear-gradient(60deg, #4879b4 0%, #485563);
  color: white;
  text-align: justify;
}

#projects .uppercard h1 {
  font-size: 3.5rem;
  font-weight: 500;
}
#projects .uppercard h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#projects .uppercard p {
  font-size: 1.4rem;
  line-height: 2.2rem;
}
#projects .lowercard {
  /* width:80%; */
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .lowercard::after {
  content: "";
  background-image: linear-gradient(60deg, #4879b4 0%, #485563);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
#projects .card .lowercard img {
  transition: 0.5s ease transform;
}

#projects .card:hover .lowercard img {
  transform: scale(1.1);
}
/* -------------ABOUT SECTION------------------- */
#about {
  min-height: 100vh;
  /* border: 7px solid black; */
}
#about .about {
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  /* border: 9px solid blue; */
}
#about .about .col-right {
  padding: 10px 5%;
  text-align: center;
  margin: 100px 0px 50px;
  max-width: 700px;
  /* border: 7px solid green; */
  margin-bottom: 30px;
}
.about .col-right h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.about .col-right p {
  font-size: 1.7rem;
  line-height: 2.5rem;
  letter-spacing: 0.08rem;
  margin-bottom: 25px;
}
#about .about .fonta {
  color: BLACK;
  text-align: center;
  font-size: 2rem;

  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 500px;
}
#about .about .fonta p {
  font-size: 2rem;
  margin: 0 auto;
  border: 2px solid crimson;
  padding: 15px 25px;
  max-width: 300px;
}
#about .fonta :hover {
  color: white;
  border: 2px solid rgb(221, 42, 11);
  background-color: crimson;
  transition: 0.5s ease;
}
.about .col-left {
  /* border: 5px solid black; */
  margin-bottom: 50px;
}

#about .about .col-left .font-img {
  padding: 0px;
  /* border: 15px solid white;*/
}
#about .about .col-left .my-image {
  height: fit-content;
  padding: 0px;
  width: 220px;
  height: 290px;
  position: relative;
  left: 20px;
  display: flex;
  border: 12px solid white;
}
#about .about .col-left .my-image::after {
  content: "";
  position: absolute;
  left: -28px;
  top: 15px;
  border: 7px solid crimson;
  height: 100%;
  width: 90%;
  z-index: -1;
}
/*------------------------------------ Contact Section------------------------------- */
#contact {
  height: fit-content;
  /* border: 4px solid orange; */
}
#contact .contact {
  display: flex;
  /* border: 6px solid red; */
  flex-direction: column;
}
#contact .contact .contact-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#contact .contact .contact-item {
  width: 300px;
  /* width: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid green; */
  margin: 10px auto 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #08080898;
  transition: all 0.5s ease;
}
#contact .contact .contact-item:hover {
  box-shadow: 0px 0px 10px 0px #08080846;
}
#contact .contact .contact-item .icon {
  width: 120px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact .contact-item .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}
#contact .contact .contact-item .contact-info h2 {
  font-size: 1.6rem;
  font-weight: 500;
  /* margin-bottom: 5px; */
}
/* footer section */
#footer {
  height: fit-content;
  background: linear-gradient(60deg, #021a35, #203449);
  /* border: 4px solid red; */
}
#footer .footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 20px 0px;
}
#footer .footer-container .social-icons {
  display: flex;
  width: 30%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

#footer .footer-container .social-icons img {
  margin: 6px;
  filter: grayscale(1);
  height: 70px;
  width: 70px;
  transition: all 0.3s ease;
  transition-delay: 0ms;
}
#footer .footer-container .social-icons img:hover {
  filter: grayscale(0);
}

#footer .footer-container .name h1 {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}
#footer .footer-container .name h1 span {
  color: red;
  font-weight: 900;
  font-size: 4rem;
}
#footer .footer-container h2 {
  font-size: 2rem;
  color: white;
  letter-spacing: 0.1rem;
}
/*media query for small screen mobiles */
@media (max-width: 480px) {
  #header .header .nav-bar .brand h1 {
    color: white;
    font-size: 6vw;
    display: block;
    margin-left: 5%;
  }
  #header .hamburger {
    height: 40px;
    width: 40px;
  }
  #header .hamburger .bar {
    width: 20px;
    height: 2px;
    position: relative;
    background-color: white;
    z-index: -1;
  }
  #header .hamburger .bar::after,
  #header .hamburger .bar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
    transition: 0.3s ease;
  }
  #header .hamburger .bar::after {
    top: 8px;
  }
  #header .hamburger .bar::before {
    bottom: 8px;
  }
  #header .header .nav-list ul {
    min-height: 100vh;
  }
  #main .main {
    padding: 0 40px 20px;
  }
  #main h1 {
    font-size: 9vw;
  }
  .main div {
    width: 100%;
  }
  #footer .footer-container .name h1 {
    font-size: 6vw;
  }
}
/* media query for tablet */
@media (min-width: 768px) {
  /* main section */
  #main .cta {
    font-size: 2.5rem;
    padding: 15px 40px;
  }
  #main h1 {
    font-size: 5rem;
  }
  #main .main {
    padding: 0px 110px 20px;
  }
  /*  end of main section */
  /* heading of all sections */
  .title {
    font-size: 5rem;
  }
  /* services section */
  #services .bottompart .cards {
    flex-basis: 45%;
    margin: 2.5%;
  }
  #services .services .description {
    font-size: 2.2rem;
  }
  #services .cards h2 {
    font-size: 2rem;
  }
  #services .cards p {
    font-size: 1.6rem;
  }
  /* End of services section */
  /* ------------------------------------------------------------------------------ */
  /* Projects Section  */
  /* #projects .cards-container {
    flex-direction: row;
  } */
  #projects .projects .card {
    height: 400px;
    width: 100%;
    flex-direction: row;
    margin: 0;
    border-radius: 0;
  }
  #projects .projects .card:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .lowercard {
    height: 100%;
  }
  #projects .uppercard {
    height: 100%;
  }
  #projects .uppercard p {
    font-size: 1.7rem;
  }
  /* End of projects section */
  /* --------------------------------------- */
  /* About me section */
  #about .about {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #about .about .col-right {
    margin: 60px 0px 30px 30px;
    padding: 10px;
    text-align: left;
    text-align: justify;
  }
  #about .col-right h1 {
    margin: 0px 0px 20px;
  }
  .about .col-left {
    /* border: 5px solid black; */

    margin-bottom: 5%;
    padding-left: 10px;
  }
  #about .about .col-left .my-image {
    width: 300px;
    height: 400px;
    position: relative;
    top: 30px;
  }
  #about .about .col-left .my-image::after {
    border-width: 10px;
  }
  .about .col-right p {
    font-size: 1.9rem;
  }

  /* End of about me section  */
  /* ---------------------------------------- */
  /* footer section */
  #contact {
    height: 100vh;
  }
  #contact .contact {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  #contact .contact .contact-items {
    display: flex;
    flex-direction: row;
    width: 98%;
    margin-top: 20px;
  }
  #contact .contact .contact-item {
    width: 230px;
    height: 150px;
    padding: 10px;
    justify-content: space-evenly;
    flex-direction: row;
  }
  #contact .contact .contact-item .icon {
    width: 90px;
  }
  #contact .contact .contact-item .contact-info {
    text-align: left;
  }
}
/* End of footer section */
/* End of media query for tablet */
/* ---------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------ */
/* For desktop */
@media (min-width: 1150px) {
  #header .hamburger {
    display: none;
  }
  #header .header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
  }
  #header .header .nav-list ul li a::after {
    display: none;
  }
  #header .header .nav-list ul {
    background-color: transparent;
    align-items: flex-start;
  }
  #header .header .nav-list ul li {
    display: inline-block;
    padding: 15px;
  }
  #header .header .nav-list ul li a {
    font-size: 2.2rem;
  }
  /* Services section */
  #services .bottompart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
  }
  #services .bottompart .cards {
    flex-basis: 20%;
    padding: 20px;
  }
  #services .services .upperpart {
    max-width: 1100px;
  }
  /* End of services section */
  /* Projects section */

  #projects .projects .card {
    max-width: 1000px;
    height: 400px;
    width: 100%;
    flex-direction: row;
    margin: 0;
    border-radius: 0;
  }
  #projects .projects .card:nth-child(even) {
    flex-direction: row-reverse;
  }
  /* End of projects section */
  /* About section */
  #about .about .col-right {
    margin: 60px 0px 0px 100px;
  }
  #about .about .col-right {
    margin: 60px 0px 70px 80px;
    padding: 10px;
    max-width: 800px;
    text-align: left;
    text-align: justify;
  }
  /* End of about section */
  /* contact section */
  #contact {
    height: 100vh;
  }
  #contact .contact {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  #contact .contact .contact-items {
    display: flex;
    /* flex-direction: row; */
    width: 98%;
    margin-top: 20px;
  }
  #contact .contact .contact-item {
    width: 300px;
    height: 300px;
    padding: 10px;
    justify-content: space-evenly;
    flex-direction: column;
  }
  #contact .contact .contact-item .icon {
    width: 90px;
  }
  #contact .contact .contact-item .contact-info {
    text-align: center;
  }
  #contact .contact .contact-item .contact-info h1 {
    font-size: 3rem;
  }
  #contact .contact .contact-item .contact-info h2 {
    font-size: 2rem;
  }
  /* End of contact section */
}
@media (max-width: 767px) {
  #about {
    height: fit-content;
  }
  #about .about {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }
}
